<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <h1>Create new message</h1>
    <form action="/new" method="POST">
        <label for="message">Message:</label>
        <input type="text" name="message" placeholder="Type your message here" required>

        <label for="user">User:</label>
        <input type="text" name="user" placeholder="Type your name here" required>
        <button type="submit">Create</button>
</body>
</html>